::-webkit-scrollbar{
  display: none;
}
  
  body{
    background:url(./recursos/nueo\ fondo.gif);
    background-size: cover;

  }

  .btn{
    display:block;
    width: 100px;
    height: 100px;
    outline:none;
    background-color:transparent;
    border-color:black;
    border: 3px solid transparent;
    border-radius:100px;
    color:black;
    cursor:pointer;
    margin: 150px auto;
    text-align:center;
    text-transform:inherit;
    font-family: Georgia, Times, Times New Roman, serif;
    position:sticky;
    
  }

a{
  color:black;
  text-decoration: none;

}

    a:hover{
    border:1px solid transparent;
    color:white
  }
  

  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 200px;
    padding-left: 40px;
    color: rgba(0, 0, 0, 0.363);

    
   
  }
 h4{
   font-family: Arial, Helvetica, sans-serif;
   font-size:15px;
   font-weight: normal;
   color: rgba(0, 0, 0, 0.363);
   padding-top:0px ;
   padding-left: 30px;
   color: rgba(0, 0, 0, 0.363);

 }
 
#close-image{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius: 100%;
  border-color: transparent transparent;
  
  
}

