
::-webkit-scrollbar{
    display: none;
}

body {
      margin: 0;
      background-color:white
  }

  #audio{
      width: 10%;
      height:15px;
  }

  #padre{
      display: flex;
      flex-direction: row;
  }
  #padre-izquierdo{
      display: flex;
      flex-direction: column;
      justify-content:flex-start;

  }
  #flechas{
      display: flex;
      justify-content: space-between;
        margin-top: 3cm;
        
  }

.game-intro{
    float:left;
    padding: 0% 10%;
}

#logo-img{
    width: 480px;
    display: block;
    justify-items:center;
}
.arrows-img{
    width: 220px;
    height: 220px;
    
}

#instrucciones{
  padding-top: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



