
  body {
      margin: 0;
      background-color:white
  }

  #audio{
      width: 10%;
      height:15px;
  }

.game-intro{
    float:left;
    padding: 0% 10%;
}

.logo-img{
    width: 480px;
    display: block;
    margin: auto;
    justify-items:center;
}
.awsd-img{
    margin: 100px;
}

#game-logo{
    height:0px;
    width:0px;
    align-items: center;
}


#game-board{
    width: 20%;
    height: 15px;
    margin-left:900px;
}

